@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    overflow-x: hidden;
}

.active {
    color: rgb(3, 207, 48);
}


body {
    color: rgb(0, 0, 0);
    background: white;
}

.dark-mode {
    color: #ffffff;
    background: black;
}

